<div id="<%= dom_id task %>" class="card mb-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title"><strong>Titulo:</strong> <%= task.titulo %></h5>

    <p class="card-text">
      <strong>Descrição:</strong> <%= task.descricao %>
    </p>

    <p class="card-text">
      <strong>Status:</strong> <%= task.status %>
    </p>
  </div>
</div>
