<% content_for :title, "New pomodoro" %>

<h1>New pomodoro</h1>

<%= render "form", pomodoro: @pomodoro %>

<br>

  <div class="mt-4">
    <%= link_to "Voltar", tasks_path, class: "btn btn-outline-primary" %>
  </div>
  